  #ratnojit5 {
      display: inline-block;
      padding: 0.5em 1.7em;
      margin: 0 0.1em 0.1em 0;
      border: 0.16em solid rgba(255, 255, 255, 0);
      background-color: rgb(80, 10, 172);
      border-radius: 2em;
      box-sizing: border-box;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: #ffffff;
      text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
      text-align: center;
      transition: all 0.2s;
    }
    
    #ratnojit5:hover {
      border-color: rgb(255, 255, 255);
    }