    #ratnojit8 {
        width: 160px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;

        height: 55px;
        text-align:center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    #ratnojit8:hover {
        background-position: 100% 0;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    #ratnojit8:focus {
        outline: none;
    }
    
    #ratnojit8{
        background-image: linear-gradient(
        to right,
        #f5ce62,
        #e43603,
        #fa7199,
        #e85a19
        );
        box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    }