.button-2 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
  }
  
  .button-2:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }
  
  .button-2:active {
    transform: scale(0.9);
  }