#Sanglap-Halder {
    font-size: 30px;
    letter-spacing: 0.07vw;
    background-color: #ffdf00;
    box-shadow: inset 0vw 0vw 0.5vw 0.3vw #ecbd00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0vw 0vw 0.5vw white;
    border-radius: 3vw;
    position: relative;
    align-items: center;
    width: 10vw;
    left: 4.5vw;
}

#Sanglap-Halder:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0vw 0vw 0.5vw 0.3vw rgba(0, 0, 0, 0);
    font-weight: 900;
}