@import url(https://fonts.googleapis.com/css?family=Montserrat:700);


.button1{
  display: inline-block;
  position: relative;
  bottom: 0.7rem;
  left: 0.3rem;
  height: 4rem;
  background-color: black;
  overflow: hidden;
margin-right: 2rem;
  width: 200px;
  perspective:400px;
  background-color: transparent;
  
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3)));
  
}
.button1 span{
  display: block;

  transition:0.3s ease-in-out all;
  transform-origin:50% 0;
  transform-style:preserve-3d;
  background-color: black;
  color: white;
position: relative;

height: 45px;

  padding: 10px;

}
.button1 span:after{
  display: block;
  content: attr(data-title);
  position: absolute;
  left: 0;
  top: 0;
  transition:0.3s ease-in-out all;
  transform-origin:50% 0;
  transform:translate3d(0px,105%,0px) rotateX(-90deg);
  background-color: white;
  color: black;
  height: 45px;

  padding: 10px;
  width: 100%;
}

.button1:hover span{
  transform:translate3d(0px,0px,-30px) rotateX(90deg);
}
