#SuvayuN-2{
    height: 3rem;
    width: 8rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(-45deg, #ff4000, #fda900, #08e839, #00b3ff);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    transition: 0.5s;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#SuvayuN-2:hover{
    transform: scale(1.1);
    animation-play-state: paused;
}
