#SuvayuN-6{
    height: 3rem;
    width: 8rem;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
    transition: 1s ease-in-out;
    background-color: brown;
    color: white;
    transition: 1s;
    text-shadow: 1px 1px 1px white;
}

@keyframes jiggle{
    0%{
        transform: rotate(-45deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

#SuvayuN-6:hover{
    animation: jiggle 0.1s infinite alternate;
    transform: scale(1.1);
    box-shadow: 0.5rem 0.5rem 0.5rem brown;
}