@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Mansalva&display=swap');
        
        body{
            background-color: black;
        }
        .box-main {
            border: 3px solid white;
            text-align: center;
            height: 30vh;
            justify-content: center;
            padding: 10vh 0;
            border-radius: 5px;
        }

        .img-github,
        .img-linkedin {
            width: 30px;
            background-color: aliceblue;

        }
        .designed-by{
            color: white;
            font-family: 'Audiowide', sans-serif;
        }