 .toggle-slider-new {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666;
    border-radius: 34px;
    border: 2px solid #999; /* Border color */
    transition: .4s;
  }
  
  .toggle-slider-new:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    top: 2px; /* Adjust top position */
    left: 2px;
    background-color: #333; /* Inner circle color */
    border-radius: 50%;
    transition: .4s;
  }
  
  input:checked + .toggle-slider-new {
    background-color: #999; /* Checked background color */
    border: 2px solid #333;
  }
  
  input:checked + .toggle-slider-new:before {
    transform: translateX(26px);
  }
  