#nirman2{
    height: 60px ;
    width: 170px;
    background: linear-gradient(to right, #de00ff 50%, #0000ff 50%);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s;
}

#nirman2:hover{
    background: white;
    color:black
}